img {
    height: 100px;
    clip: rect(0px, 140px, 140px, 0px);
}

.thumb {
    width: 200px;
    height: 200px;
    background-position: 50%;
}
body {
    background-image: url("http://i.stack.imgur.com/803In.png");
    align: center;
}